In [7]:
import pandas as pd
import csv

In [16]:
# delimeter is comma, tweets have commas
# bring everything in as one column then split on first comma

xmas_tweets = pd.read_csv('HolidayTweets.csv', sep='\t', header=None)

xmas_tweets = xmas_tweets[0].str.split(',', n=1, expand=True)

xmas_tweets.columns = ['ID', 'Metadata']

xmas_tweets

                       ID                                           Metadata
0                      ID                                           Metadata
1      812192389460881408  <p class="TweetTextSize  js-tweet-text tweet-t...
2      812192389443915776  <p class="TweetTextSize  js-tweet-text tweet-t...
3      812192388710105089  <p class="TweetTextSize  js-tweet-text tweet-t...
4      812192386583592960  <p class="TweetTextSize  js-tweet-text tweet-t...
...                   ...                                                ...
50087  813084336203452426  <p class="TweetTextSize  js-tweet-text tweet-t...
50088  813084336006144001  <p class="TweetTextSize  js-tweet-text tweet-t...
50089  813084330687918080  <p class="TweetTextSize  js-tweet-text tweet-t...
50090  813084330608230400  <p class="TweetTextSize  js-tweet-text tweet-t...
50091  813084330159316992  <p class="TweetTextSize  js-tweet-text tweet-t...

[50092 rows x 2 columns]

In [17]:
xmas_tweets['hashtags'] = xmas_tweets['Metadata'].str.extractall(r'(#\w+)').groupby(level=0).agg(','.join)

In [23]:
xmas_tweets[xmas_tweets['hashtags'].notna()]

,ID,Metadata,hashtags
318,812193835925340160,"<p class=""TweetTextSize js-tweet-text tweet-t...",#2017
326,812193947241979904,"<p class=""TweetTextSize js-tweet-text tweet-t...","#wedding,#weddingdress"
342,812194056415612928,"<p class=""TweetTextSize js-tweet-text tweet-t...",#2017
359,812194134257565697,"<p class=""TweetTextSize js-tweet-text tweet-t...",#2017
447,812194642489995264,"<p class=""TweetTextSize js-tweet-text tweet-t...",#„ÇØ„É™„Çπ„Éû„Çπ„Éû„Éº„Ç±„ÉÉ„Éà
...,...,...,...
49842,813083137060184065,"<p class=""TweetTextSize js-tweet-text tweet-t...",#2016
49857,813083118253080578,"<p class=""TweetTextSize js-tweet-text tweet-t...",#2016
49903,813083287967191041,"<p class=""TweetTextSize js-tweet-text tweet-t...",#2017
49984,813083603311554560,"<p class=""TweetTextSize js-tweet-text tweet-t...",#78
50021,813083888960602114,"<p class=""TweetTextSize js-tweet-text tweet-t...",#100

In [19]:
xmas_tweets

,ID,Metadata,hashtags
0,ID,Metadata,NaN
1,812192389460881408,"<p class=""TweetTextSize js-tweet-text tweet-t...",NaN
2,812192389443915776,"<p class=""TweetTextSize js-tweet-text tweet-t...",NaN
3,812192388710105089,"<p class=""TweetTextSize js-tweet-text tweet-t...",NaN
4,812192386583592960,"<p class=""TweetTextSize js-tweet-text tweet-t...",NaN
...,...,...,...
50087,813084336203452426,"<p class=""TweetTextSize js-tweet-text tweet-t...",NaN
50088,813084336006144001,"<p class=""TweetTextSize js-tweet-text tweet-t...",NaN
50089,813084330687918080,"<p class=""TweetTextSize js-tweet-text tweet-t...",NaN
50090,813084330608230400,"<p class=""TweetTextSize js-tweet-text tweet-t...",NaN
50091,813084330159316992,"<p class=""TweetTextSize js-tweet-text tweet-t...",NaN

In [ ]:
# Extract language
xmas_tweets['language'] = xmas_tweets['Metadata'].str.extract(r'lang="(\w+)"')

In [ ]:
# Extract country from hashtags
xmas_tweets['country'] = xmas_tweets['hashtags'].str.extract(r'#(\w+)')

In [ ]:
# Extract tweet content
xmas_tweets['tweet_content'] = xmas_tweets['Metadata'].str.extract(r'<p.*?>(.*?)</p>')

In [ ]:
# Extract emojis
xmas_tweets['emojis'] = xmas_tweets['tweet_content'].str.extractall(r'(<img .*?alt="([^"]+)"[^>]*>)').groupby(level=0)[1].agg(','.join)

In [25]:
xmas_tweets

,ID,Metadata,hashtags,language,country,tweet_content,emojis
0,ID,Metadata,NaN,NaN,NaN,NaN,NaN
1,812192389460881408,"<p class=""TweetTextSize js-tweet-text tweet-t...",NaN,en,NaN,"A <a href=""/hashtag/ShoutOut?src=hash"" data-qu...",NaN
2,812192389443915776,"<p class=""TweetTextSize js-tweet-text tweet-t...",NaN,en,NaN,Oh good lord! 2016 lays another boot in - conj...,NaN
3,812192388710105089,"<p class=""TweetTextSize js-tweet-text tweet-t...",NaN,en,NaN,Lookin' for the purrfect one for me <img class...,"üòª,üéÑ,‚ù§Ô∏è,‚òÉ,‚ùÑ,üåü,üéÖüèª,üéÅ,üç≠,üîî,üéÑ,‚òÉ,‚ùÑ,üíù"
4,812192386583592960,"<p class=""TweetTextSize js-tweet-text tweet-t...",NaN,en,NaN,"<a href=""/hashtag/ff?src=hash"" data-query-sour...",NaN
...,...,...,...,...,...,...,...
50087,813084336203452426,"<p class=""TweetTextSize js-tweet-text tweet-t...",NaN,en,NaN,"<span class=""twitter-hashflag-container""><a hr...",NaN
50088,813084336006144001,"<p class=""TweetTextSize js-tweet-text tweet-t...",NaN,en,NaN,Hope everyone is having a wonderful <span clas...,NaN
50089,813084330687918080,"<p class=""TweetTextSize js-tweet-text tweet-t...",NaN,en,NaN,Wearing 3 layers of highlighter today because ...,NaN
50090,813084330608230400,"<p class=""TweetTextSize js-tweet-text tweet-t...",NaN,et,NaN,Merry Christmas &amp; Happy Chanukah!! <img cl...,"üéÑ,üéÅ"
50091,813084330159316992,"<p class=""TweetTextSize js-tweet-text tweet-t...",NaN,en,NaN,"<a href=""/hashtag/losangeles?src=hash"" data-qu...",NaN